@font-face {
  font-family: Open Sans;
  src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAI0wABEAAAABD6QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAABtkAAAALoAAAESVSxX0kdQT1MAAG5MAAAUWgAANlzbTQJeR1NVQgAAgqgAAAqHAAAW") format("woff");
  font-weight: 400;
  font-style: normal;
}